USE [master]
GO
/****** Object:  Database [NYCTaxi_Sample]    Script Date: 5/09/2025 20:06:20 ******/
CREATE DATABASE [NYCTaxi_Sample]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NYCTaxi_Sample', FILENAME = N'C:\SQL DATA\NYCTaxi_Sample.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NYCTaxi_Sample_log', FILENAME = N'C:\SQL DATA\NYCTaxi_Sample_0.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NYCTaxi_Sample].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NYCTaxi_Sample]
GO
/****** Object:  UserDefinedFunction [dbo].[fnCalculateDistance]    Script Date: 5/09/2025 20:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnCalculateDistance] (@Lat1 float, @Long1 float, @Lat2 float, @Long2 float)
-- User-defined function calculate the direct distance between two geographical coordinates.
RETURNS float
AS
BEGIN
  DECLARE @distance decimal(28, 10)
  -- Convert to radians
  SET @Lat1 = @Lat1 / 57.2958
  SET @Long1 = @Long1 / 57.2958
  SET @Lat2 = @Lat2 / 57.2958
  SET @Long2 = @Long2 / 57.2958
  -- Calculate distance
  SET @distance = (SIN(@Lat1) * SIN(@Lat2)) + (COS(@Lat1) * COS(@Lat2) * COS(@Long2 - @Long1))
  --Convert to miles
  IF @distance <> 0
  BEGIN
    SET @distance = 3958.75 * ATAN(SQRT(1 - POWER(@distance, 2)) / @distance);
  END
  RETURN @distance
END

GO
/****** Object:  UserDefinedFunction [dbo].[fnEngineerFeatures]    Script Date: 5/09/2025 20:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnEngineerFeatures] (
@passenger_count int = 0,
@trip_distance float = 0,
@trip_time_in_secs int = 0,
@pickup_latitude float = 0,
@pickup_longitude float = 0,
@dropoff_latitude float = 0,
@dropoff_longitude float = 0)
RETURNS TABLE
AS
  RETURN
  (
  -- Add the SELECT statement with parameter references here
  SELECT
    @passenger_count AS passenger_count,
    @trip_distance AS trip_distance,
    @trip_time_in_secs AS trip_time_in_secs,
    [dbo].[fnCalculateDistance](@pickup_latitude, @pickup_longitude, @dropoff_latitude, @dropoff_longitude) AS direct_distance

  )

GO
/****** Object:  Table [dbo].[nyc_taxi_models]    Script Date: 5/09/2025 20:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nyc_taxi_models](
	[model] [varbinary](max) NOT NULL,
	[name] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nyctaxi_sample]    Script Date: 5/09/2025 20:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nyctaxi_sample](
	[medallion] [varchar](50) NOT NULL,
	[hack_license] [varchar](50) NOT NULL,
	[vendor_id] [char](3) NULL,
	[rate_code] [char](3) NULL,
	[store_and_fwd_flag] [char](3) NULL,
	[pickup_datetime] [datetime] NOT NULL,
	[dropoff_datetime] [datetime] NULL,
	[passenger_count] [int] NULL,
	[trip_time_in_secs] [bigint] NULL,
	[trip_distance] [float] NULL,
	[pickup_longitude] [varchar](30) NULL,
	[pickup_latitude] [varchar](30) NULL,
	[dropoff_longitude] [varchar](30) NULL,
	[dropoff_latitude] [varchar](30) NULL,
	[payment_type] [char](3) NULL,
	[fare_amount] [float] NULL,
	[surcharge] [float] NULL,
	[mta_tax] [float] NULL,
	[tolls_amount] [float] NULL,
	[total_amount] [float] NULL,
	[tip_amount] [float] NULL,
	[tipped] [int] NULL,
	[tip_class] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [nyc_cci]    Script Date: 5/09/2025 20:06:21 ******/
CREATE CLUSTERED COLUMNSTORE INDEX [nyc_cci] ON [dbo].[nyctaxi_sample] WITH (DROP_EXISTING = OFF, COMPRESSION_DELAY = 0, DATA_COMPRESSION = COLUMNSTORE) ON [PRIMARY]
GO
USE [master]
GO
